 <div class="user-details">
  <h1> About Me </h1>
  <img alt="portrait" width="90%" src="{{ "/assets/img/JakobiTalbot.jpg" | prepend: site.baseurl }}" />
  <p>Hi! My name is Jakobi, welcome to my website!</p>
  <p>I'm a 20 year old student currently studying at AIE to pursue my childhood passion: game programming. Video games and computers have been a hobby of mine for as long as I can remember, and I've been hooked to programming since the day I first attempted it; there's just something magical about seeing all the lines of code you've spent hours writing get compiled into <i>exactly</i> what you hoped it would be. Pursuing a career that incorporated my passions into one seemed like a no-brainer.</p>
  <br />
  <h1> My Expertise </h1>
</div>
  <div class="user">
    <div class="tech">
		<div class="contents-left">
		  <h2>Programming Languages</h2>
		  <i class="devicon-cplusplus-plain colored"></i>
		  <i class="devicon-csharp-plain colored"></i>
		  <p>Proficient in:</p>
		  <ul>
			<li> C++14 </li>
			<li> C#</li>
		  </ul>
		  <p> Knowledge of:</p>
		  <ul>
			<li> GLSL</li>
			<li> HLSL/CG</li>
			<li> HTML</li>
		  </ul>
	  </div>
    </div>
    <div class="tech">
		<div class="contents-right">
		  <h2><br><br>Tools</h2>
		  <i class="devicon-git-plain colored"></i>
		  <i class="devicon-trello-plain colored"></i>
		  <i class="devicon-visualstudio-plain colored"></i>
		  <p>Experience in using tools such as Git and Subversion for version control, Trello for project management/task allocation and Microsoft Visual Studio/Visual Studio Code as an IDE.</p>
	  </div>
    </div>
</div>