 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
	<div class="contents-left">
      <h2>Programming Languages</h2>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <p>Experienced in developing with major game programming languages, such as C++ and C#.</p>
	  </div>
    </div>
    <div class="tech">
	<div class="contents-right">
      <h2>Tools</h2>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-trello-plain-wordmark colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <p>Experienced in using tools such as Git for version control, Trello for project management and Microsoft Visual Studio/Visual Studio Code as an IDE.</p>
	  </div>
    </div>
</div>
