<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <div style='position:relative; padding-bottom:calc(56.25% + 44px)'><iframe src='https://gfycat.com/ifr/ScrawnyPartialIndri' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div>
  </div>
  <div class="contents-left">
    <h3> Elixir Mixer </h3>
    <ul>
		<li> Virtual Reality</li>
		<li> Unity coroutines</li>
    </ul>
    <p>Elixir Mixer is a game created as part of my 2019 end of year project in my final year at AIE.</p>
	<p>It is a VR bartending game created in Unity by a team composed of 1 designer, 1 producer, 4 artists and myself as the 1 programmer.</p>
    <a class="project-link" href="https://github.com/JakobiTalbot/BartenderTales" target="_blank">Source Code</a>
  </div>
</div>
<br />
<div class="user-projects">
  <div class="images-left">
<div style='position:relative; padding-bottom:calc(56.25% + 44px)'><iframe src='https://gfycat.com/ifr/MeanBaggyBarnswallow' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div><p></p>
  </div>
  <div class="contents-right">
    <h3> Dino Throwdown </h3>
    <ul>
      <li> Working in a team</li>
	  <li> Project management and milestones</li>
	  <li> Controller input for several players</li>
    </ul>
    <p>Dino Throwdown was created in Unity as an end of year project in 2018 during my first year at AIE by a team composed of a designer, a producer, 2 programmers and 4 artists.</p>
	<p>This was my first major project where I worked through each milestone with a team to create a finished product, emulating a real game studio.</p>
    <a class="project-link" href="https://github.com/JakobiTalbot/Dino-Throwdown" target="_blank">Source Code</a>
	<a class="project-link" href="https://playfulpigeons.itch.io/dino-throwdown" target="_blank">Game</a>
  </div>
</div>
<br />
<div class="user-projects">
  <div class="images-right">
<div style='position:relative; padding-bottom:calc(103.68% + 44px)'><iframe src='https://gfycat.com/ifr/RipeHeavyDormouse' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div>
  </div>
  <div class="contents-left">
    <h3> Neural Network Snake </h3>
    <ul>
      <li> Advanced mathematics</li>
	  <li> Knowledge of Advanced AI algorithms</li>
    </ul>
    <p>This project was created in 2019 using C++ during my final year at AIE. The idea was to produce a modular game system which can be implemented into any project. I decided to stretch my boundaries and create a neural network to be implemented into a snake game and trained via genetic algorithm.</p>
    <a class="project-link" href="https://github.com/JakobiTalbot/NeuralNetworkSnake" target="_blank">Source Code</a>
  </div>
</div>
<br />
<div class="user-projects">
  <div class="images-left">
    <div style='position:relative; padding-bottom:calc(56.25% + 44px)'><iframe src='https://gfycat.com/ifr/AridSolidHypacrosaurus' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div>
  </div>
  <div class="contents-right">
    <h3> Kamikaze Mutant Explosion </h3>
    <ul>
		<li> Fast working</li>
		<li> Able to work under pressure</li>
    </ul>
    <p>Created in 2019 in Unity as part of a game jam that took place over 2 days. Each team was given a prompt composed of 3 random words and had to design a game around it. My team's prompt was "Kamikaze Mutant Explosion". My team was composed of 2 designers, 4 artists and 1 programmer, being myself.</p>
    <a class="project-link" href="https://github.com/JakobiTalbot/MutantKamikazeExplosion" target="_blank">Source Code</a>
	<a class="project-link" href="https://thebarron1985.itch.io/kamikaze-mutant-explosion" target="_blank">Game</a>
  </div>
</div>
<br />
<div class="user-projects">
  <div class="images-right">
    <div style='position:relative; padding-bottom:calc(56.25% + 44px)'><iframe src='https://gfycat.com/ifr/ImmaculateBossyBetafish' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div>
  </div>
  <div class="contents-left">
    <h3> KonGL </h3>
    <ul>
		<li> Shader programming (GLSL)</li>
    </ul>
    <p>KonGL is a basic 3D rendering program utilising C++ with OpenGL that I created in 2019. It was a demo to build experience writing different post-processing effects in shaders (GLSL).</p>
	<p>I managed to achieve things such as basic phong shading and texturing, as well as post-processing effects such as chromatic aberration, distortion, pixelation and depth of field.</p>
    <a class="project-link" href="https://github.com/JakobiTalbot/KonGL" target="_blank">Source Code</a>
  </div>
</div>
