<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
<div style='position:relative; padding-bottom:calc(56.25% + 44px)'><iframe src='https://gfycat.com/ifr/ExhaustedEasyCockatoo' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div><p></p>
  </div>
  <div class="contents">
    <h3> Dino Throwdown </h3>
    <ul>
      <li> Working in a team</li>
	  <li> Project management and milestones</li>
	  <li> Game state management</li>
	  <li> Keyboard/controller input</li>
	  <li> Simulated physics</li>
	  <li> Advanced mathematics</li>
    </ul>
    <p>This game was created as an end of year project in 2018 during my first year at AIE by a team composed of a designer, a producer, 2 programmers and 4 artists.</p><p>This was my first major project where I worked through each milestone with a team to create a finished product, emulating a real game studio.</p>
    <a class="project-link" href="https://github.com/JakobiTalbot/Dino-Throwdown" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="snake" src="{{ "/assets/img/snake.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Neural Network Snake </h3>
    <ul>
      <li> Advanced mathematics</li>
	  <li> Knowledge of Advanced AI algorithms</li>
    </ul>
    <p>This project was created in 2019 during my second year at AIE. The idea was to produce a modular game system which can be implemented into any project. I decided to stretch my boundaries and create a neural network to be implemented into a snake game and trained via genetic algorithm.</p>
    <a class="project-link" href="https://github.com/JakobiTalbot/NeuralNetworkSnake" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <div style='position:relative; padding-bottom:calc(56.25% + 44px)'><iframe src='https://gfycat.com/ifr/SatisfiedLinedKawala' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div>
  </div>
  <div class="contents-left">
    <h3> Kamikaze Mutant Explosion </h3>
    <ul>
		<li> Fast working</li>
		<li> Able to work under pressure</li>
    </ul>
    <p>Made in 2018 as part of a game jam that took place over 2 days. Each team was given a prompt composed of 3 random words and had to design a game around it. My team's prompt was "Kamikaze Mutant Explosion". My team was composed of 2 designers, 4 artists and 1 programmer, being myself.</p>
    <a class="project-link" href="https://github.com/JakobiTalbot/MutantKamikazeExplosion" target="_blank">Check it out</a>
  </div>
</div>
